.bottle-container{
    margin: 5px;
    border: 2px solid greenyellow;
    background-color: rgb(229, 227, 227);
    padding: 10px;
}

.bottle-container:hover{
    border: 2px solid rgb(241, 255, 47);
    
}

.bottle-container img{
    width: 200px;
}